html {
    scroll-behavior: smooth;
}

body {
    color: #774E2E;
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding: 0px;
}

header {
    padding-top: 37px;
}

.container {
    max-width: 1170px;
    margin: 0px auto;
}

.logo-top {
    width: 79px;
    height: 79px;
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: #774E2E;
    font-size: 16px;
    font-weight: 500;
    line-height: 20.8px;
    margin-right: 50px;
    letter-spacing: 0.2px;
    text-decoration: none;
    transition-duration: 1.5s;
}

nav a:last-child {
    margin-right: 0px;
}

.header-content {
    max-width: 575px;
    padding-bottom: 20px;
}

.about {
    background-image: url(../img/pic/yammi-header.png);
    background-repeat: no-repeat;
    background-size: 575px 596px;
    background-position: right 0px bottom -35px;
}

h1 {
    color: #F37F34;
    font-size: 110px;
    font-weight: 800;
    letter-spacing: 0.05px;
    line-height: 110px;
    padding-top: 85px;
    overflow-wrap: break-word;
}

h1 span {
    color: #774E2E;
    display: inline-block;
    padding-bottom: 20px;
    overflow-wrap: break-word;
}

.header-content p {
    color: #774E2E;
    font-size: 16px;
    font-weight: 500;
    margin-top: -50px;
}

.main-page-link {
    background-color: #774E2E;
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;
    display: block;
    width: 343px;
    height: 69px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.01em;
    line-height: 69px;
    margin-top: 50px;
    margin-bottom: 20px;
    transition-duration: 1s;
}

.main-page-part-1 {
    max-width: 1170px;
    margin: 0px auto;
    margin-top: 150px;
    padding-top: 75px;
    padding-bottom: 150px;
}

h2 {
    font-size: 72px;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: 0.01em;
    text-align: center;
    overflow-wrap: break-word;
}

h2 span {
    color: #F37F34;
    overflow-wrap: break-word;
}

.blocks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1170px;
    margin-top: 70px;
}

.block {
    background-color: #FFFFFF;
    width: 370px;
    height: 462px;
    background-repeat: no-repeat;
    background-size: 370px 248px;
    background-position: top;
}

.b-one {
    background-image: url(../img/pic/red-poppy.png);
}

.b-two {
    background-image: url(../img/pic/cream.png);
}

.b-three {
    background-image: url(../img/pic/hazel.png);
}

h3 {
    color: #673B19;
    font-size: 24px;
    font-weight: 600;
    margin-top: 284px;
    text-align: center;
}

.blocks p {
    color: #774E2E;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.01em;
    text-align: center;
}

.main-part-1 {
    background-color: #FFF9EA;
}

.main-page-part-2 {
    border: 1px solid #FFFFFF;
    max-width: 1170px;
    margin: 0px auto;
}

.main-page-part-2 h2 {
    text-align: left;
    margin-bottom: 30px;
    margin-top: 150px;
}

.main-page-part-2 p {
    color: #774E2E;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.01em;
}

.main-page-part-2 h3 {
    margin-top: 50px;
    text-align: left;
}

.yummy-and-sweets {
    background-image: url(../img/pic/yammi-main.png);
    background-repeat: no-repeat;
    background-size: 575px 722px;
    background-position: center right;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

ul li {
    color: #774E2E;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.01em;
}

ul li:last-child {
    margin-bottom: 150px;
}

li::before {
    background-color: #774E2E;
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    margin: auto 10px;
}

.foot-container {
    background-color: #774E2E;
}

.foot-block {
    max-width: 1170px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-bottom {
    width: 99px;
    height: 99px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.foot-block p {
    color: #FFFFFF;;
    font-size: 36px;
    font-weight: 500;
    letter-spacing: 0.01em;
}

nav a:hover {
   font-size: 125%;
   transition-duration: 1.5s;
}

.main-page-link:hover {
    background-color: #bd875e;
    transition-duration: 1s;
}
